<div class="container my-5">
    <h1 class="mb-3">Employees</h1>

    <table class="table" *ngIf="employees && employees.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id}}</td>
                <td>{{ employee.name}}</td>
                <td>{{ employee.number}}</td>
                <td>{{ employee.salary}}</td>
                <td>{{ employee.departmnet}}</td>
                <td><a [routerLink]="['/employees', 'edit', employee.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employees || employees.length <=0">No Employee Found</p>
</div>
